@import de.htwg.se.mill.model.fieldComponent.Color
@(controller:de.htwg.se.mill.controller.controllerComponent.ControllerInterface)

@size= @{ controller.fieldsize }

@cellHorizontal = @{List((0,1), (0,2), (0,4), (0,5), (1,2), (1,4), (5,2), (5,4), (6,1), (6,2), (6,4), (6,5))}
@cellVertical = @{List((1,0), (1,6),(2,0), (2,1), (2,5), (2,6), (4,0), (4,1), (4,5), (4,6), (5,0), (5,6))}
@cellTopLeft= @{List((0,0), (1,1), (2,2))}
@cellTopRight= @{List((0,6), (1,5), (2,4))}
@cellBottomRight= @{List((6,6), (5,5), (4,4))}
@cellBottomLeft= @{List((6,0), (5,1), (4,2))}
@cellMiddle= @{List((1,3), (3,5), (5,3), (3,1))}
@cellHorizontalTop= @{List((0,3), (4,3))}
@cellHorizontalBottom= @{List((2,3), (6,3))}
@cellVerticalLeft= @{List((3,0), (3,4))}
@cellVerticalRight= @{List((3,2), (3,6))}

@main("HTWG Mill") {
    <div aria-live="polite" aria-atomic="true" style="position: relative;">
        <div class="toast" id="myToast" style="position: absolute; top: 3rem; right: 0;">
            <div class="toast-header">
                <strong class="me-auto"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                Something went wrong!
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Game</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to start a new game?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="gameMethod('POST', '/')">Yes</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="btn-group d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" style="background-color: darkslategray" data-bs-toggle="modal" data-bs-target="#myModal">New Game</button>
            <button type="button" class="btn btn-secondary" style="background-color: darkslategray" onclick="gameMethod('POST', '/random')">Random Game</button>
            <button type="button" class="btn btn-secondary" style="background-color: darkslategray" onclick="gameMethod('PUT', '/undo')">Undo</button>
            <button type="button" class="btn btn-secondary" style="background-color: darkslategray" onclick="gameMethod('PUT', '/redo')">Redo</button>
        </div>
        <div id="gamecontainer" class="table-responsive" style="background-color: slategrey">
        <!-- Content copied out to main.js -->
            <table class="mx-auto w-auto">
            @for(row <- 0 until size) {
                <tr>
                @for(col <- 0 until size) {
                    <td>
                    @if(controller.possiblePosition(row, col)) {
                        <img id="@row,@col" onclick="interact('@row', '@col')" class="img-fluid" src=@routes.Assets.versioned("images/media/Loading.png")>
                    } else {
                        @if(cellHorizontal.contains((row, col))) {
                            <img id="@row,@col" onclick="interact('@row', '@col')" class="img-fluid" src=@routes.Assets.versioned("images/media/UnavailableCellHorizontal.png")>
                        }
                        @if(cellVertical.contains((row, col))) {
                            <img id="@row,@col" onclick="interact('@row', '@col')" class="img-fluid" src=@routes.Assets.versioned("images/media/UnavailableCellVertical.png")>
                        }
                    }
                    </td>
                }
                </tr>
            }
            </table>
        </div>
    </div>
}
