@import de.htwg.se.mill.model.fieldComponent.Color
@(controller:de.htwg.se.mill.controller.controllerComponent.ControllerInterface)

@size= @{ controller.fieldsize }

@cellHorizontal = @{List((0,1), (0,2), (0,4), (0,5), (1,2), (1,4), (5,2), (5,4), (6,1), (6,2), (6,4), (6,5))}
@cellVertical = @{List((1,0), (1,6),(2,0), (2,1), (2,5), (2,6), (4,0), (4,1), (4,5), (4,6), (5,0), (5,6))}
@cellTopLeft= @{List((0,0), (1,1), (2,2))}
@cellTopRight= @{List((0,6), (1,5), (2,4))}
@cellBottomRight= @{List((6,6), (5,5), (4,4))}
@cellBottomLeft= @{List((6,0), (5,1), (4,2))}
@cellMiddle= @{List((1,3), (3,5), (5,3), (3,1))}
@cellHorizontalTop= @{List((0,3), (4,3))}
@cellHorizontalBottom= @{List((2,3), (6,3))}
@cellVerticalLeft= @{List((3,0), (3,4))}
@cellVerticalRight= @{List((3,2), (3,6))}

@main("HTWG Mill") {
    <div class="container">
        <div class="btn-group d-flex justify-content-center">
            <a href="/new" class="btn btn-secondary" style="background-color: darkslategray">New Game</a>
            <a href="/random" class="btn btn-secondary" style="background-color: darkslategray">Random Game</a>
            <a href="/undo" class="btn btn-secondary" style="background-color: darkslategray">Undo</a>
            <a href="/redo" class="btn btn-secondary" style="background-color: darkslategray">Redo</a>
        </div>
        <div id="gamecontainer" class="table-responsive" style="background-color: slategrey">
        <!-- Content copied out to main.js -->
        </div>
    </div>
}
