@import de.htwg.se.mill.model.fieldComponent.Color
@(controller:de.htwg.se.mill.controller.controllerComponent.ControllerInterface)

@size= @{ controller.fieldsize }

@cellHorizontal = @{List((0,1), (0,2), (0,4), (0,5), (1,2), (1,4), (5,2), (5,4), (6,1), (6,2), (6,4), (6,5))}
@cellVertical = @{List((1,0), (1,6),(2,0), (2,1), (2,5), (2,6), (4,0), (4,1), (4,5), (4,6), (5,0), (5,6))}
@cellTopLeft= @{List((0,0), (1,1), (2,2))}
@cellTopRight= @{List((0,6), (1,5), (2,4))}
@cellBottomRight= @{List((6,6), (5,5), (4,4))}
@cellBottomLeft= @{List((6,0), (5,1), (4,2))}
@cellMiddle= @{List((1,3), (3,5), (5,3), (3,1))}
@cellHorizontalTop= @{List((0,3), (4,3))}
@cellHorizontalBottom= @{List((2,3), (6,3))}
@cellVerticalLeft= @{List((3,0), (3,4))}
@cellVerticalRight= @{List((3,2), (3,6))}

@main("HTWG Mill") {
    <center>
        <h1>
            Mill GameBoard
        </h1>
        <table class="buttonTable">
            <tr>
                <td>
                    <a href="/new"><button type="button" class="btn btn-secondary" style="background-color: darkslategrey">New Game</button></a>
                </td>
                <td>
                    <a href="/random"><button type="button" class="btn btn-secondary" style="background-color: darkslategrey"> Random Game </button></a>
                </td>
                <td>
                    <a href="/undo"><button type="button" class="btn btn-secondary" style="background-color: darkslategrey">Undo</button></a>
                </td>
                <td>
                    <a href="/redo"><button type="button" class="btn btn-secondary" style="background-color: darkslategrey">Redo</button></a>
                </td>
                <td>
                    <a href="/about"><button type="button" class="btn btn-secondary" style="background-color: darkslategrey">Redo</button></a>
                </td>
            </tr>
        </table>
        <table class="gameTable">
            @for(row <- 0 until size) {
                <tr>
                    @for(col <- 0 until size) {
                        <td>
                            @if(controller.possiblePosition(row, col)) {
                                @if(controller.isSet(row, col)) {
                                    @if(controller.cell(row, col).getContent.whichColor.equals(Color.white)) {
                                        <a href="@{s"/${row}${col}"}"><img class="rotate" src=@routes.Assets.versioned("images/media/WhiteStone.png")></a>
                                    } else {
                                        <a href="@{s"/${row}${col}"}"><img class="rotate" src=@routes.Assets.versioned("images/media/BlackStone.png")></a>
                                    }
                                } else {
                                    @if(cellTopLeft.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellTopLeft.png")></a>
                                    }
                                    @if(cellTopRight.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellTopRight.png")></a>
                                    }
                                    @if(cellBottomRight.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellBottomRight.png")></a>
                                    }
                                    @if(cellBottomLeft.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellBottomLeft.png")></a>
                                    }
                                    @if(cellMiddle.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellMiddle.png")></a>
                                    }
                                    @if(cellHorizontalTop.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellHorizontalTop.png")></a>
                                    }
                                    @if(cellHorizontalBottom.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellHorizontalBottom.png")></a>
                                    }
                                    @if(cellVerticalLeft.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellVerticalLeft.png")></a>
                                    }
                                    @if(cellVerticalRight.contains((row, col))) {
                                        <a href="@{s"/${row}${col}"}"><img src=@routes.Assets.versioned("images/media/AvailableCellVerticalRight.png")></a>
                                    }
                                }
                            } else {
                                @if(cellHorizontal.contains((row, col))) {
                                    <img src=@routes.Assets.versioned("images/media/UnavailableCellHorizontal.png")>
                                }
                                @if(cellVertical.contains((row, col))) {
                                    <img src=@routes.Assets.versioned("images/media/UnavailableCellVertical.png")>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </center>
}
